*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

.one-line-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#main-pane {
  padding: 2em;
}

textarea {
  overflow-y: auto;
}

#questpane {
  resize: vertical;
}

@media (hover: none) {
  svg {
    width: 2rem;
    height: 2rem;
  }
}
